aside {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    border-left: 1px solid $border-color;
    z-index: 3;

    pointer-events: none;

    @include mq(medium) {
        display: block;
        left: 0;
        right: initial;
        border-right: 1px solid $border-color;
        border-left: none;
        z-index: 1;
        width: 100px;
    }

    header {
        height: 50px;
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        background-color: #fff;
        border-bottom: 1px solid $border-color;
        pointer-events: all;

        @include mq(medium) {
            padding: 0;
            height: 144px;
            display: block;
            border-bottom: none;
        }

        div {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            &.menu {
                @include mq(medium) {
                    display: none;
                }
            }
            
            &.logo {
                i {
                    color: $brand-color;
                    font-size: 24px !important;
                }

                &:hover i {
                    color: $accent-color;
                }
            }
            i {
                color: $dark-grey;
                font-size: 36px !important;
                pointer-events: none;
                transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            }

            &:hover {
                cursor: pointer;
                i, .active i {
                    color: $brand-color;
                }
            }
        }

    }
    
    nav {
        height: calc(100%);
        display: none;
        pointer-events: all;

        @include mq(medium) {
            display: block;
            height: calc(100% - 144px);
        }

        &.active {
            display: block;
            background-color: $light-grey;

            li {
                padding: 0px 2rem;

                a {
                    display: inherit;
                    color: inherit;
                }

                &.active, &:hover {
                    div {
                        border-left: none;
                    }

                    i {
                        margin-right: 0 !important;
                    }

                    p, i {
                        color: $brand-color;
                    }
                }

                div {
                    width: initial;
                    p {
                        display: inline-block;
                        padding-left: 2rem;
                    }
                }

                &.checkboxContainer {
                    height: initial;
                    padding: 0 .5rem;
                    display: flex;
                    justify-content: space-evenly;

                    .checkbox {
                        &:nth-child(1) {
                            color: green;
                        }
                        &:nth-child(2) {
                            color: orange;
                        }
                        &:nth-child(3) {
                            color: red;
                        }

                        input {
                            margin: 0 .25rem 0 0;
                        }
                    }
                }
            } 
        }
    }

    ul {
        background-color: #fff;
        width: 80%;
        float: right;
        border-left: 1px solid $border-color;
        height: 100%;
        @include mq(medium) {
            width: 100%;
            float: initial;
            border-left: none;
        }

        li {
            height: 100px;
            display: flex;
            align-items: center;

            p {
                display: none;
            }
    
            a {
                height: 75px;
                width: 100%;
            }
    
            div {
                height: 75px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
    
                i {
                    color: $dark-grey;
                    width: 24px;
                    height: 24px;
                    pointer-events: none;
                    transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
                }
    
            }
    
            &.active {
                background-color: $bg-color;
    
                i {
                    margin-right: 3px;
                    color: $brand-color;
                }
            }
            @include mq(medium) {
                &.active {
                    background-color: initial;
                    div {
                        background-color: $bg-color;
                        border-left: 3px solid $brand-color;
                    }
                } 
            }
            
    
            &:hover {
                cursor: pointer;
                background-color: $bg-color;
                i {
                    color: $brand-color;
                }
            }
            @include mq(medium) {
                &:hover {
                    cursor: initial;
                    background-color: initial;

                }
                div:hover {
                    border-left: 3px solid $brand-color;
                    background-color: $bg-color;
                }
            }
            
            &:not(.active) div:hover i {
                margin-right: 3px;
            }
        }
    } 
}