.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */
  
  .icon-close {
    width: 0.7857142857142857em;
  }
  
  .icon-twitter {
    width: 0.9285714285714285em;
  }
  
  .icon-facebook {
    width: 0.5881428571428571em;
  }
  
  .icon-bars {
    width: 0.8571428571428571em;
  }
  
  .icon-caret-down {
    width: 0.5714285714285714em;
  }
  
  .icon-linkedin {
    width: 0.8571428571428571em;
  }
  
  .icon-file-text {
    width: 0.8571428571428571em;
  }
  
  .icon-long-arrow-down {
    width: 0.42857142857142855em;
  }
  