#index main {
    padding: 2rem 1rem;
    display: grid;
    grid-auto-columns: 1fr;
    grid-gap: 1rem;

    ul {
        padding: 1rem;
        background-color: #fff;

        li {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
            grid-gap: 0.5rem;
            grid-auto-rows: max-content;

            &+li {
                margin-top: 1rem;
            }

            p {
                margin: 0;
                word-break: break-word;
                white-space: normal;
                font-size: 14px;
            }
        }
    }

    .emptyStateContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;    
        padding-top: 56px;

        @include mq(medium) {
            width: 742px;
        }

        @include mq(xl) {
            padding-top: 104px;
        }
        

        img {
            width: 33%;
            max-width: 362px;
            max-height: 335px;
            min-height: 167px;
            min-width: 181px;
        }

        .text-container {
            padding-top: 40px;

            text-align: center;
            @include mq(xl) {
                padding-top: 93px;
            }
            
            p, a {
                font-size: 30px;
                @include mq(medium) {
                    font-size: 36px;
                }
                
                color: $mid-grey;
                display: inline;
            }

            span  {
                position: relative;
                pointer-events: none;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -.25em;
                    right: -.25em;
                    bottom: -.25em;
                    border-bottom: 3px solid $accent-color;
                    pointer-events: none;
                }
                a {
                    pointer-events: all;
                    &:hover {
                        color: $brand-color;
                    }
                }
            }
        }
        
    }
}